<div class="container">
    <div class="tela-fundo">
        <img src="https://media.tenor.com/3K6XAglURYEAAAAd/jogo-super-mario-bros.gif" alt="Fundo do Jogo"
            class="fundo-gif">
    </div>
    <h1>Escolha um Jogo</h1>
    <div class="game-links">
        <!-- Jogo 1: Jogo da Memória -->
        <a href="https://rachacuca.com.br/passatempos/jogo-da-memoria/" class="game-circle" target="_blank">
            <span>Jogo da Memória</span>
        </a>

        <!-- Jogo 2: Jogo da Forca -->
        <a href="https://rachacuca.com.br/palavras/jogo-da-forca/" class="game-circle" target="_blank">
            <span>Jogo da Forca</span>
        </a>

        <!-- Jogo 3: Quebra-Cabeça -->
        <a href="https://rachacuca.com.br/raciocinio/quebra-cabeca/" class="game-circle" target="_blank">
            <span>Quebra-Cabeça</span>
        </a>

        <a href="https://rachacuca.com.br/passatempos/domino/" class="game-circle" target="_blank">
            <span>Domino</span>
        </a>

        <a href="https://rachacuca.com.br/logica/problemas/fila-do-banco/" class="game-circle" target="_blank">
            <span>Problemas de Lógica</span>
        </a>

        <a href="https://rachacuca.com.br/raciocinio/quebra-cabeca/" class="game-circle" target="_blank">
            <span>Quebra-Cabeça</span>
        </a>
    </div>
</div>