<div class="quadrado">
    <form>
      <div class="dados">
  
      <label for="nome">Nome:</label>
      <input type="text" id="nme"  required  placeholder="Digite o nome do(a) cliente" class="texto-grande"><br><br>
      
      <label for="produto">Escolha o produto:</label>
      <select id="prduto" name="produto" required class="texto-grande">
          <option value="" selected>Selecione</option>
          <option value="TV"  >TV</option>
          <option value="Fone de ouvido AirPods Apple"  >Fone de ouvido AirPods Apple</option>
          <option value="Smartphone Samsung Galaxy A30 "  >Smartphone Samsung Galaxy A30 </option>
          <option value="Caixa de Som-JBL"  >Caixa de Som-JBL </option>
          <option value="Notebook Dell"  >Notebook Dell</option>
          <option value="iPhone 15 Pro Max"  >iPhone 15 Pro Max</option>
      </select><br><br>
  
      <label for="qntd">Quantidade:</label>
      <input type="number" id="qtd" name="quantidade" required placeholder="Digite a quantidade desejada" class="texto-grande"><br><br>
    
      <label for="valor"> R$ Unitário:</label>
      <input type="text" id="vlor" name="valor" required placeholder="Digite o valor do produto" class="texto-grande"><br><br>
    
      <input type="button" class="botao" value="Adicionar" onclick="Inserir()" >
      
    </div>
    </form>
    </div>