<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobLink's Login</title>
    <link rel="stylesheet" href="login.component.css">
</head>

<div class="container">
    <header>
        <img src="/logo.png" alt="magem Login" class="JobLink">
    </header>
    <body>
        <main>
            <div class="geral">
                <div class="tela">
                    <h2 class="texto_login">LOGIN:</h2>
                    <form class="cadastro">
                        <label for="email" class="titulo">EMAIL:</label>
                        <div class="password-container">
                            <input type="email" id="email" placeholder="Digite o seu e-mail">
                        </div>

                        <label for="password" class="titulo">SENHA:</label>
                        <div class="password-container">
                            <input type="password" id="password" placeholder="Digite a sua senha">
                        </div>

                        <a href="#" class="forgot-password" id="forgot-password">Esqueci minha senha</a>
                    </form>
                    <div class="botao">
                        <button type="submit" class="login-button">ENTRAR</button>
                        <p class="register">Não é nosso usuário? <a href="../registro">Cadastre-se</a></p>
                    </div>
                </div>
                    <img src="/imagem_login.png" alt="imagem Login" class="illustrations">
            </div>

        </main>

    </body>
    <footer>
        <p class="direitos">Todos os direitos reservados à JobLink's Brasil</p>
    </footer>
</div>

</html>