<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<div class="container">
    <div class="left-sidebar">
        <div class="sidebar-people">
            <h2 class="mensagens-title">Mensagens</h2>
            <div class="sd">
                <div class="sidebar-people-row">
                    <img
                        src="https://img.freepik.com/premium-psd/businesswoman-transparency-background-psd_693425-25413.jpg">
                    <div>
                        <h2>Samuel Tony</h2>
                        <p>Líder de Dev.Software do EUA</p>
                        <a href="">Conversar</a>
                    </div>
                </div>
            </div>

            <div class="sd">
                <div class="sidebar-people-row">
                    <img
                        src="https://img.freepik.com/premium-psd/businesswoman-transparency-background-psd_693425-25413.jpg">
                    <div>
                        <h2>Samuel Tony</h2>
                        <p>Líder de Dev.Software do EUA</p>
                        <a href="">Conversar</a>
                    </div>
                </div>
            </div>

            <div class="sd">
                <div class="sidebar-people-row">
                    <img
                        src="https://img.freepik.com/premium-psd/businesswoman-transparency-background-psd_693425-25413.jpg">
                    <div>
                        <h2>Samuel Tony</h2>
                        <p>Líder de Dev.Software do EUA</p>
                        <a href="">Conversar</a>
                    </div>
                </div>
            </div>

            <div class="sd">
                <div class="sidebar-people-row">
                    <img
                        src="https://img.freepik.com/premium-psd/businesswoman-transparency-background-psd_693425-25413.jpg">
                    <div>
                        <h2>Samuel Tony</h2>
                        <p>Líder de Dev.Software do EUA</p>
                        <a href="">Conversar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="conversa">
            <div class="sf">
                <img src="https://img.freepik.com/premium-psd/businesswoman-transparency-background-psd_693425-25413.jpg"> 
                <h2>Samuel Tony</h2>
                <p>Líder de Dev.Software do EUA</p>  
                <div class="sh">
                    <p>Olá, Victor, Tudo bem?</p>
                    <p>Aqui é a Helena. Eu estava dando uma olhada no seu perfil e vi que está em busca de emprego.</p>
                    <p>Temos uma vaga que atende o seu perfil, sobre Programador Junior na empresa RAV Tech, Gostaríamos de saber se tem interesse na vaga? </p>    
                </div> 
                <hr>
                <div class="search-box">
                    <i class="material-symbols-outlined"> </i>
                    <input type="text" placeholder="Search">
                </div>           
                <div>
                    <i class="material-symbols-outlined"> send </i>
                </div>    
            </div>
            
        </div>
    </div>

    <div class="right-sidebar"></div>
</div>