<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<div class="container">
    <div class="left-sidebar">
        <div class="sidebar-people">
            <h2 class="mensagens-title">Mensagens</h2>
            <div class="barra-de-rolagem">
                <div class="sd">
                    <div class="sidebar-people-row">
                        <img
                            src="https://img.freepik.com/premium-psd/businesswoman-transparency-background-psd_693425-25413.jpg">
                        <div>
                            <h2>Marcela Soares</h2>
                            <p>Recrutadora e Líder de Projetos </p>
                            <a href="">Conversar</a>
                        </div>
                    </div>
                </div>

                <div class="sd">
                    <div class="sidebar-people-row">
                        <img
                            src="https://img.freepik.com/premium-psd/smiling-business-man-isolated-white-isolated-background_176841-89878.jpg">
                        <div>
                            <h2>Sérgio Machado</h2>
                            <p>Professor de Segurança de dados </p>
                            <a href="">Conversar</a>
                        </div>
                    </div>
                </div>

                <div class="sd">
                    <div class="sidebar-people-row">
                        <img
                            src="https://img.freepik.com/premium-photo/ai-generative-female-entrepreneur-with-smile-face-white-background_781958-10091.jpg">
                        <div>
                            <h2>Maria Paladino</h2>
                            <p>Estudante de Eng. da Computação</p>
                            <a href="">Conversar</a>
                        </div>
                    </div>
                </div>

                <div class="sd">
                    <div class="sidebar-people-row">
                        <img
                            src="https://media.licdn.com/dms/image/D4E03AQHYuOJkB-QAtQ/profile-displayphoto-shrink_800_800/0/1680251731412?e=2147483647&v=beta&t=WMvwVpUQSo2szEyvnum17bP5V7wM1Jf_HXhwkFXpUYY">
                        <div>
                            <h2>Beto Gomes</h2>
                            <p>Coordenador de Análise de Riscos</p>
                            <a href="">Conversar</a>
                        </div>
                    </div>
                </div>

                <div class="sd">
                    <div class="sidebar-people-row">
                        <img
                            src="https://th.bing.com/th/id/OIP.mW3mh9t-tkg6oVfJzA-FkwAAAA?rs=1&pid=ImgDetMain">
                        <div>
                            <h2>Paula Rocha</h2>
                            <p>Estudante de Eng. de Admistração</p>
                            <a href="">Conversar</a>
                        </div>
                    </div>
                </div>

                <div class="sd">
                    <div class="sidebar-people-row">
                        <img
                            src="https://img.freepik.com/fotos-premium/tudo-que-voce-precisa-e-o-plano-foto-de-um-homem-em-pe-contra-um-fundo-cinza_590464-60359.jpg?w=2000">
                        <div>
                            <h2>Lucas Silva</h2>
                            <p>Estudante de Medicina Veterinária</p>
                            <a href="">Conversar</a>
                        </div>
                    </div>
                </div>

                <div class="sd">
                    <div class="sidebar-people-row">
                        <img
                            src="https://acendance.com/wp-content/uploads/2024/02/connie1_pretty_young_lady_displaying_her_job_case_portfolio_to__f91939e2-4c46-495b-8d3a-e308636b17d0.png">
                        <div>
                            <h2>Eduarda Rocha</h2>
                            <p>Estudante de Eng. da Automação</p>
                            <a href="">Conversar</a>
                        </div>
                    </div>
                </div>

                <div class="sd">
                    <div class="sidebar-people-row">
                        <img
                            src="https://thumbs.dreamstime.com/b/portrait-business-asian-man-arms-crossed-career-confident-guy-against-studio-background-face-male-portrait-business-279068145.jpg">
                        <div>
                            <h2>José Santos</h2>
                            <p>Técnico de Cibersegurança e BD</p>
                            <a href="">Conversar</a>
                        </div>
                    </div>
                </div>


            </div>    
        </div>
    </div>
    
    <div class="main-content">
        <div class="conversa">
            <div class="fundo-conversa">
                <img src="https://img.freepik.com/premium-psd/businesswoman-transparency-background-psd_693425-25413.jpg"> 
                <h2>Marcela Soares</h2> 
                <div class="barra-de-rolagem-conversa">   
                    <div class="post-mensagem">
                        <p>Olá, Victor, Tudo bem?</p>
                        <p>Aqui é a Marcela. Eu estava dando uma olhada no seu perfil e vi que está em busca de emprego.</p>
                        <p>Temos uma vaga que atende o seu perfil, sobre Programador Junior na empresa RAV Tech, Gostaríamos de saber se tem interesse na vaga? </p>    
                    </div> 
                </div>    
                <hr>
                <div class="search-container">
                    <div class="search-box">
                        <input type="text" placeholder="Digite uma Mensagem">
                    </div>
                    <div class="icone">
                        <i class="material-symbols-outlined"> send </i>
                    </div>
                </div>    
            </div>
        </div>
    </div>

    <div class="right-sidebar"></div>
</div>