<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - JobLink's</title>
    <link rel="stylesheet" href="registro.component.css">
</head>

<body>
    <div class="container">
        <!-- <header>
            <img src="/logo.png" alt="magem Login" class="JobLink">
        </header> -->

        <main>
            <div class="geral">
                <div class="tela">
                    <h2 class="texto_registro">Cadastro:</h2>
                    <form class="registro">
                        <label for="name" class="titulo">Nome:</label>
                        <input type="text" id="name" placeholder="Digite o seu nome">

                        <label for="email" class="titulo">Email:</label>
                        <input type="email" id="email" placeholder="Digite o seu e-mail">

                        <label for="password" class="titulo">Senha:</label>
                        <div class="password-container">
                            <input type="password" id="password" placeholder="Digite a sua senha">
                            <span class="toggle-password">&#128065;</span>
                        </div>

                        <label for="confirm-password" class="titulo">Confirme Senha:</label>
                        <input type="password" id="confirm-password" placeholder="Confirme a senha">
                        <div class="botao">    
                            <button type="submit" class="register-button">Cadastrar</button>
                        </div>
                    </form>
                    <p>Já é nosso usuário? <a href="#">Faça o login</a></p>
                </div>
                <div class="illustrations">
                    <img src="/registro.png" alt="imagem Login">
                </div>
                
            </div>

        </main>


    </div>
</body>

</html>